<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" href="components2.css">
    <link rel="stylesheet" href="components3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
    <title>bonz.ai</title>
</head>
<body>
    <h1 class="title">Välkommen till oss</h1>
    <h2 class="bonzai__text--coal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

    <h2 class="bonzai__text--coal">Alla olika knappar</h2>

    <br><br>

    <button class="availability__button--walnut">Kolla tillgänglighet</button>

    <br><br>

    <button class="product__button--big-grizzlie">Enkelrum 1500:- / natt<br>Fullbokat dessa datum</button>

    <br><br>

    <button class="product__button--big-forrest">Enkelrum 1500:- / natt<br>Tillgängligt dessa datum</button>

    <br><br>

    <button class="product__button--walnut">Ändra bokning</button>

    <br><br>

    <button class="checkout__button--leaf">Gå till kassa</button>

    <br><br>

    <h2 class="bonzai__text--coal">Alla olika moduler</h2>

    <br><br>

    <article class="information__card">
        <img class="information__picture" src="/assets/photos/01-night.jpg" alt="Hotellrum">
        <h2 class="information__text--coal">Vårat hotell är helt ekologiska och drivs av ett smart Ai system för att ta de bästa hållbara valen.</h2>
    </article>

    <br><br>

    <article class="availability">
        <img class="bonzai__logo" src="/assets/logo/bonz.ai-logo-black-landscape.png" alt="Bonz.ai">
        <h2 class="bonzai__text--coal">Antal nätter/Vilka datum</h2>
        <input type="date" class="availability__calender">

        <h2 class="bonzai__text--coal">Till</h2>
        <input type="date" class="availability__calender">

        <button class="availability__button--walnut">Kolla tillgänglighet</button>
    </article>

    <br><br>

    <article class="checkout">
        <h2 class="bonzai__text--coal">Du har valt:<br>Ett dubbelrum</h2>
        <h2 class="bonzai__text--coal">Från</h2>

        <input type="date" class="availability__calender" value="2023-03-16">
        <h2 class="bonzai__text--coal">Till</h2>
        <input type="date" class="availability__calender" value="2023-03-20">

        <h2 class="bonzai__text--coal">Totalsumma: 10000:-</h2>

        <aside class="checkout__buttons--grid">
        <button class="product__button--walnut">Ändra bokning</button>
        <button class="checkout__button--leaf">Gå till kassa</button>
        </aside>
    </article>

    <br><br>

    <article class="slideshow">

        <article class="slideshow__image">
        <img src="/assets/photos/01-day.jpg">
        </article>
    
        <a class="slideshow__button--previous" onclick="plusSlides(-1)">&#10094;</a>
        <a class="slideshow__button--next" onclick="plusSlides(1)">&#10095;</a>

    </article>

    <footer class="description">
        <img class="bonzai__logo" src="/assets/logo/bonz.ai-logo-black-landscape.png">
        <h2 class="bonzai__text--coal">Vattenparksvägen 75<br>078-78 90 105<br>Reception 06-23 Varje Dag</h2>
    </footer>
    

    
<script src="script.js"></script>
    
    
</body>
</html>